body {
  font-family: "Raleway", sans-serif;
}
#barra {
  height: 60%;
}

#info_cv {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
 


}

#modulos {
  display: flex;
  background-color: black;
  flex-direction: row;
 justify-content: space-evenly;
}


/* Hero Section */

#Hero-Section {
  background-image: url("../img/luis.marin.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;

  background-position: center;
}

/* Contacto */

#Contacto form label {
  font-weight: 300;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
#portafolio {
  display: flex;
  padding: 10px;
  margin: 10px;
}
